body {
  text-align: center;
  font-family: 'ZCOOL XiaoWei', serif;
  background: linear-gradient(90deg, rgba(181,221,232,0.5), rgba(181,221,232,1))
}

h1 {
  font-size: 70px;
  margin: 0.5em 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
  padding: 0.5em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

.form-group {
  display: inline-block;
  padding: 0.5em;
}

table,
tr,
td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  height: 20px;
}

td {
  width: 20px;
}

input[type="number"] {
  width: 6em;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
    margin: 0.7em 0.2em;
  }
}
